
@{
    ViewBag.Title = "Index";
}

<h2>Liste Sayfasi</h2>
</br>


<li>@Html.ActionLink("Tezler", "Index", "Liste")</li>
<li>@Html.ActionLink("FakulteEkle", "FakulteListele", "Liste")</li>
<li>@Html.ActionLink("TezFikirGonder", "TezFikirListele", "Liste")</li>
<li>@Html.ActionLink("DanismanProjeEkle", "DanismanProjeListele", "Liste")</li>
<li>@Html.ActionLink("BolumEkle", "BolumListele", "Liste")</li>
<li>@Html.ActionLink("DanismanEkle", "DanismanListele", "Liste")</li>
<li>@Html.ActionLink("Admin", "Index", "Liste")</li>

